<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Slideshow>
            <version>1.0.0</version>
        </Edge_Slideshow>
    </modules>
    <global>
        <blocks>
            <slideshow>
                <class>Edge_Slideshow_Block</class>
            </slideshow>
        </blocks>
        <models>
            <slideshow>
                <class>Edge_Slideshow_Model</class>
                <resourceModel>slideshow_resource</resourceModel>
            </slideshow>
            <slideshow_resource>
                <class>Edge_Slideshow_Model_Resource</class>
                <entities>
                    <slideshow>
                        <table>slideshow</table>
                    </slideshow>
                </entities>
            </slideshow_resource>
        </models>
        <helpers>
            <slideshow>
                <class>Edge_Slideshow_Helper</class>
            </slideshow>
        </helpers>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Edge_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <slideshow before="Mage_Adminhtml">Edge_Slideshow_Adminhtml</slideshow>
                    </modules>
                </args>
            </adminhtml>
            <slideshow>
                <use>admin</use>
                <args>
                    <module>Edge_Slideshow_Adminhtml</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <slideshow>
                    <file>slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
    </adminhtml>
</config>
